<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Import</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label>Vendor</label>
              <select class="form-control" [(ngModel)]="selectedVendor" name="selectedVendor">
                <option *ngFor="let vendor of vendors" [ngValue]="vendor">{{vendor.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <div ng2FileDrop
                   [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                   (fileOver)="fileOverBase($event)"
                   [uploader]="uploader"
                   class="well my-drop-zone">
                Drop your file here
              </div>
            </div>
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td class="text-center">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok" style="color:green"></i></span>
                      <!--<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>-->
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td>
                      <div class="progress progress-sm" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </td>
                    <td nowrap>
                      <!--<button type="button" class="btn btn-primary btn-xs"
                              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                      </button>
                      <button type="button" class="btn btn-warning btn-xs"
                              (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>-->
                      <a class="fa fa-trash-o" (click)="uploader.clearQueue()"></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <div>
              <div>
                <div class="progress progress-xxs" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-s"
                      (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-cloud-upload"></span> Upload
              </button>
              <!--<button type="button" class="btn btn-warning btn-s"
            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
    </button>-->
              <button type="button" class="btn btn-default btn-s" (click)="uploader.clearQueue()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<button type="button" class="btn btn-primary btn-s"
        (click)="exportExcel()">
  <span class="fa fa-cloud-download"></span> Download Example File
</button>
