<h2 class="page-header">Budget Categories</h2>
<div class="row">
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Categories</h3>
        <a class="fa fa-expand pull-right" (click)="toggleAllCategories(categories, !toggle)"></a>
      </div>
        <div class="box-body">
          <div class="box-group">
            <app-category [categories]="categories"></app-category>
          </div>
        </div>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
